* {
	padding: 0;
	margin: 0;
	font-family: 'Quicksand', sans-serif;
	color: #333;s
}
#menu {
	margin-bottom: 1000px;
}
.col-4 {
	width: 30%;
	box-sizing: border-box;
	padding: 10px;
	float : left;
	text-align: center;
	margin-bottom: 30px;
}
.col-4 img {
	width: 50%;
	transition:  .3s;
}
.col-4 a:hover img {
	transform: scale(1.2);
}
.banner {
	background-color: #FFA9EB;
	padding: 150px 10px;
}
section {
	padding: 50px 0;
}
.banner h2,
.banner p
.banner span {
	color: #fff;
}
.banner h2 {
	margin-bottom: 5px;
}
.banner p {
	font-size: 18px;
}
.banner-left {
	padding-left: 15px;
}
section h3 {
	padding-bottom: 20px;
	text-align: center;
	margin: 20px;
	position: relative;
}
#about p {
	text-align: justify;
	text-indent: 30px;
	line-height: 25px;
	margin-bottom: 15px;
}

#contact {
	background-color: #FFA9EB;
}

.col-3 {
	width: 30.33%;
	box-sizing: border-box;
	float: left;
	margin-bottom: 5px;
	text-align: center;
}
.footer-bottom {
	padding-top: 50px;
    font-size: 18px;
    text-align: center;
}